

<div class="cat-page">
  <p style="color: green"><%= notice %></p>

  <div class="flex-col cat-list-cont" id="categories">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>

  <%= link_to new_category_path, :class => "link-btn splash-btn cat-add-new" do %>
    <p class="center">ADD CATEGORY</p>
  <% end %>
</div>
