<div id="<%= dom_id expense %>">
  <p>
    <strong>User:</strong>
    <%= expense.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

</div>
